@{
    ViewData["Title"] = "Login";
}
<div class="card shadow-lg">

<div class="card-body">

<h4 class="form-title">Login</h4>


<form id="login"></form>
<div class="text-center mt-3">
    <span class="text-muted">Don't have an account?</span>
    <a href="Register" class="redirect fw-bold text-decoration-none">
        Register
    </a>
</div>
</div>
</div>


@section Scripts{
<script>
    $("#login").kendoForm({
        formData:{
            email:"",
            password:""
        },
        validatable:{
            validateOnBlur:true,
            validationSummary:false,
            errorTemplate:"<span class='k-form-error'>#:message#</span>"
        },
        items:[

            {
                field:"email",
                label:"Email",
                editor:"TextBox",
                validation:{
                    required:{message:"Email address is required."},
                    email: { message: "Please enter a valid email address." }
                },
                editorOptions:{
                    placeholder:"Enter your email address"
                }
            },

                {
                field:"password",
                label:"Password",
                editor:"TextBox",
                validation:{
                    required:{message:"password is Required"},
                },
                attributes:{
                    type:"password",
                    placeholder:"Enter your password"
                }
            }
        ],
        buttonsTemplate:
            '<button class="btn btn-primary submit-btn mt-3">Login</button>',

        submit:function(e){

            e.preventDefault();

            const formdata = new FormData();
            formdata.append("UserEmail", e.model.email);
            formdata.append("UserPassword", e.model.password);


            $.ajax({

                url:"/User/Login",
                type:"POST",
                data:formdata,
                contentType:false,
                processData:false,

                success:function(res){
                    console.log(res)
                    if(res.success){
                        Swal.fire({
                            title: "Success!",
                            text: res.message,
                            icon: "success"
                        });
                    }else{
                        Swal.fire({
                            title: "Oops!",
                            text: res.message,
                            icon: "error"
                        });
                    }
                }

            });

        }
    })

</script>
}