


<div class="card shadow-lg">

<div class="card-body">

<h4 class="form-title">Create Account</h4>

<div class="profile-container">

<div class="profile-border">
    <img id="preview" src="https://cdn-icons-png.flaticon.com/512/847/847969.png" class="profile-img">
</div>
<input type="file" id="profileImageInput" name="profileImage" hidden>



</div>

<form id="form"></form>
<div class="text-center mt-3">
    <span class="text-muted">Already have an account?</span>
    <a href="User/Login" class="redirect fw-bold text-decoration-none">
        Login
    </a>
</div>
</div>
</div>


@section Scripts{
<script>

$(document).ready(function(){

/* Click image to open file */
$("#preview").click(function(){
$("#profileImageInput").click();
});

/* Image preview */
$("#profileImageInput").change(function(){

const file=this.files[0];

if(file){

const reader=new FileReader();

reader.onload=function(e){
$("#preview").attr("src",e.target.result);
}

reader.readAsDataURL(file);

}

});


$("#form").kendoForm({

formData:{
name:"",
email:"",
password:"",
gender:""
},

validatable:{
validateOnBlur:true,
validationSummary:false,
errorTemplate:"<span class='k-form-error'>#:message#</span>"
},

items:[

{
field:"name",
label:"Full Name",
editor:"TextBox",
validation:{
required:{message:"Enter your name"}
},
editorOptions:{
placeholder:"Enter your name"
}
},

{
field:"email",
label:"Email",
editor:"TextBox",
validation:{
required:{message:"Enter email"},
email:true
},
editorOptions:{
placeholder:"Enter your email"
}
},

{
field:"password",
label:"Password",
editor:"TextBox",
validation:{
required:{message:"Enter password"}
},
attributes:{
type:"password",
placeholder:"Enter password"
}
},

{
                field: "Gender",
                label: "Gender:",
                editor: function (container, options) {
                    const genderOptions = [
                        { value: "Male", label: "Male" },
                        { value: "Female", label: "Female" },
                        { value: "Other", label: "Other" }
                    ];
                    $('<div class="k-radio-group"></div>')
                    .appendTo(container);
                    genderOptions.forEach((option,index) => {
                        $('<label class="k-radio-label"></label>')
                        .append(
                        $('<input type="radio" style="margin:5px" name="' + options.field + '" value="' + option.value + '" '+(index === genderOptions.length - 1 ? 'required' : '')+' />')
                        )
                        .append(option.label)
                        .appendTo(container.find(".k-radio-group"));
                    });
                },
                
                validation: { required: { message: "Please select your gender." } },
            },

],

buttonsTemplate:
'<button class="btn btn-primary submit-btn mt-3">Register</button>',

submit:function(e){

e.preventDefault();

let formdata=new FormData();

formdata.append("name",$("input[name='name']").val());
formdata.append("email",$("input[name='email']").val());
formdata.append("password",$("input[name='password']").val());
formdata.append("gender",$("input[name='gender']:checked").val());
formdata.append("profileImage",$("#profileImageInput")[0].files[0]);

$.ajax({

url:"/User/Register",
type:"POST",
data:formdata,
contentType:false,
processData:false,

success:function(res){

alert("Registration Successful");

console.log(res);

}

});

}

});

});

</script>
}